<!-- Start Footer -->
<div class="container-fluid editfooter">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 edit-footer-1">
            <h1><b class="font-red">WATCH</b><b>SHOP</b></h1>
            <h4> Địa chỉ: Phường An Phú Đông, Quận 12</h4>
            <h4>Mail: wtshopvn@gmail.com</h4>
            <h4>Điện thoại: 1900036489</h4>
        </div>
        <div class="col-md-2">
            <h2>Thông tin</h2>
            <h4><a href="#">CEO</a></h4>
            <h4><a href="Product">Shop</a></h4>
            <h4><a href="#">Giới thiệu</a></h4>
        </div>
        <div class="col-md-2">
            <h2>Tài khoản</h2>
            <h4><a href="#">Đăng nhập</a></h4>
            <h4><a href="#">Đăng kí</a></h4>
            <h4><a href="#">Tài khoản cá nhân</a></h4>
        </div>
        <div class="col-md-3">
            <h2>Liên hệ</h2>
            <h4>Mọi thắc mắc xin vui lòng liên hệ với chúng tôi thông qua ô thoại bên dưới </h4>
            <input type="input">
            <button type="button" data-bs-toggle="modal" data-bs-target="#myModal">Gửi</button>
        </div>
    </div>
</div>
<!-- End Footer -->
