<!-- Start Contact -->
<div class="container edit-contact">
    <div class="row">
      <!-- Start Map -->
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d251637.95196238213!2d105.6189045!3d9.779349!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1651915399834!5m2!1svi!2s" width="700" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- End Map -->

        <!-- Start Input Information -->
        <div class="col-md-5">
            <h2>Liên hệ</h2>
            <input type="text" name="name" placeholder="Họ và tên"/> 
            <mat-radio-group aria-label="Select an option">
                <h3><b>Giới tính :</b>&nbsp;
                  <mat-radio-button value="1">Nam</mat-radio-button>&nbsp;
                  <mat-radio-button value="2">Nữ</mat-radio-button>
                </h3>
              </mat-radio-group>
            <input type="text" name="email" placeholder="Email"/>
            <textarea type="text" name="content" class="edit-content" placeholder="Nội dung"></textarea>
            <a class="btn btn-danger">Gửi</a>
            <h3>Cảm ơn bạn đã liên hệ. Chúng tôi sẽ liên lạc lại sớm nhất có thể.<br> Ngoài ra bạn có thể liên hệ trực tiếp thông qua
                 số hotline <b>1900036489</b> hoặc đến địa chỉ của công ty ở <b>300A Đại Học Nguyễn Tất Thành</b>.<br>
                <a href="Home"> < Quay về trang chính</a></h3>
        </div>
         <!-- End Input Information -->
    </div>
</div>
<!-- End Contact -->
