<!--Start Cart -->
<div class="container cartitem">
    <table id="cart" class="table">
        <thead>
        <tr>
            <th style="width:30%">Hình ảnh</th>
            <th style="width:20%">Sản phẩm</th>
            <th style="width:14%" >Giá</th>
            <th style="width:10%">Số lượng</th>
            <th style="width:18%" class="text-center">Tổng</th>
            <th style="width:1%"></th>
            <th style="width:5%"></th>
        </tr>
        </thead>
        <tfoot>
            <tr>
            <td data-th="Image"><img src="/assets/apple/apple-watch-s3-gps-42mm-vien-nhom-day-cao-su-den-12-org.jpg" width="120px" height="120px" alt=""/></td>
            <td data-th="Product">Apple Watch S3 GPS</td>
            <td data-th="Price">5.590.000</td>
            <td data-th="Quantity"><input type="number" class="form-control text-center" value="1"></td>
            <td data-th="Subtotal" class="text-center">5.590.000</td>
            <td><mat-icon>save</mat-icon></td>
            <td><mat-icon>delete</mat-icon></td>
        </tr>
        <tr>
            <td data-th="Image"><img src="/assets/huawei/gt3.jpg" width="120px" height="120px" alt=""/></td>
            <td data-th="Product">Huawei</td>
            <td data-th="Price">5.490.000</td>
            <td data-th="Quantity"><input type="number" class="form-control text-center" value="1"></td>
            <td data-th="Subtotal" class="text-center">5.490.000</td>
            <td><mat-icon>save</mat-icon></td>
            <td><mat-icon>delete</mat-icon></td>
        </tr>
        <tr class="visible-xs">
        <td colspan="2" class="hidden-xs"></td>
        <td class=" text-center"><strong></strong></td>
        <td class=" text-center"><strong>Tổng SL</strong></td>
        <td class=" text-center"><strong>Tổng tiền</strong></td>
        <td ></td>
        <td ></td>
        </tr>
        <tr> 
            <td></td>
            <td colspan="2" class="hidden-xs"></td>     
            <td class=" text-center total"><strong>2</strong></td>
            <td class="hidden-xs text-center total"><strong>11.080.000</strong></td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>  
    </table>
    <div class="row">
    <div class="col-md-4"><a href="Product" class="btn" style="background-color: #252525; color: white; margin-left: 145px"><i class="fa fa-angle-left"></i> Tiếp tục mua sắm</a></div>
    <div class="col-md-8" ><a data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-danger" style="margin-left:600px; width: 154px" >Thanh toán</a></div>
    </div>
</div>
<!-- End Cart -->