<!-- Start Navbar -->
<app-navbar></app-navbar>
<!-- End Navbar -->

<router-outlet></router-outlet>

<!-- Start Footer -->
<app-footer></app-footer>
<!-- End Footer -->

<!-- Start The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title" style="color: #dc3545; font-weight: bold;">Lỗi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Chức năng chưa được hoàn thiện
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger edit-button" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

