.editcard{
    text-align: center;
    border: none;
}
.btn-danger{
    min-width:65px;
    margin-right: 5px;
    border-radius: 3px ;
    max-height: 40px;
}
.btn-dark{
    width:180px;
    border-radius: 3px ;
    max-height: 40px;
}
a{
    text-decoration: none;
}
.effect{
    transition-duration: .3s;
transition-property: transform;
transition-timing-function: ease-out;
}
.effect:hover{
    transform: translateY(-20px);
}
.edit-product{
    float:left;
}
.title{
    background-color: #EDF1FF;
    margin-bottom: 30px;
    text-align: center;
    height: 150px;
    font-size: 16px;
}
.title a{
    color: #dc3545;
    text-decoration: none;
}
.edit-title{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 28, 28);
    font-size: 30px;
    margin-bottom: -20px;
}
